.above{
    background-color: #284A71;
    height: 20vh;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
    position: relative;
}
.greetings{
    color: white;
    position: relative;
    font-size: 1.2em;
    position: absolute;
    padding: 1em;
    bottom: 2.1em;
    left: 0;
}

.choosing{
    color: white;
    font-size: 2em;
    position: absolute;
    padding: .5em;
    bottom: 0;
}