.imageuh {
  position: relative;
  width: 120%;
  height: 75vh;
  top: -1.5vh;
  z-index: -1;
}
.body {
  padding: 1em;
}

.stationcard {
  color: white;
  margin: 0em 1em;
  font-size: 1.1em;
}

.whiteboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}
.button {
  background-color: #284a71; /* Green */
  border: none;
  width: 70%;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: thin;
  display: inline-block;
  font-size: 1.2em;
  position: absolute;
  border-radius: 16px;
}

.wrap {
  display: flex;
  justify-content: center;
}

.button:hover {
  background-color: white;
  color: #284a71;
}
